html,
body { 
	margin:0px;
	padding:0px;
	font-family: "Oswald", sans-serif !important;
	min-height:calc(100vh);
	width:100%;
}

#openseadragon.fullpage {
	height: calc(100vh - 80px) !important;
	width: calc(100%) !important;
	z-index:10000!important;
  }

#navigatorDiv{
	position:absolute;
	  width:80px;
	  height:80px;
	  margin-top:10px;
	  margin-right:10px;
	
	}
	
	#CenterNav {
	  margin: auto;
	}
	
	
	#FullPage {
	  background: url(../styles/interface/expand.svg);
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center;
	  width: 30px;
	  height: 30px;
	  overflow: hidden;
	  cursor:pointer;
	}

	#Download {
		background: url(../styles/interface/downloadbuttonwhite.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 30px;
	  	height: 30px;
		cursor: pointer;
		overflow: hidden;
		pointer-events:auto;
		}

	#Home {
		background: url(../styles/interface/frame.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 30px;
		height: 30px;
		cursor:pointer;
		overflow: hidden;
	  }
	
	#ZoomIn {
	  background: url(../styles/interface/plus_big.png);
	  background-size: 100%;
	  background-repeat: no-repeat;
	  background-position: center;
	  width: 35px;
	  height: 35px;
	  cursor:pointer;
	  overflow: hidden;
	}
	#ZoomOut {
		background: url(../styles/interface/minus_big.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 35px;
		height: 35px;
		cursor:pointer;
		overflow: hidden;
	}
	
	
	.NavButton {
	pointer-events:auto;
	  width: 35px;
	  height: 35px;
	  color: white;
	  opacity: 0.8;
	  margin-right:8px; 
	  margin-left:8px; 
	  margin-top:8px; 
	  margin-bottom:8px; 
	  cursor:pointer;
	  user-select: none;
	  -webkit-user-select: none;
	}
	.NavButton:hover {
	  opacity: 1;
	  cursor:pointer;
	}

	.annotate-button{
		font-family: "Oswald", sans-serif !important;
		padding-top:3px;
		font-size:0.95em;
		font-weight:200;
	}


