<!DOCTYPE html>
<html>

<head>
    <title>Metadata</title>
    <link href="/viewer/shared/barlow_font.css" rel="stylesheet">
    <link href="/viewer/shared/oswald_font.css" rel="stylesheet">
    <link href="/viewer/shared/alumni_sans_pinstripe_font.css" rel="stylesheet">
    <link href="/viewer/shared/teko_font.css" rel="stylesheet">
    <link href="/viewer/shared/barlow_condensed_font.css" rel="stylesheet">
    <link rel="stylesheet" href="metadata.css">
    <link rel="stylesheet" href="/viewer/shared/shared_styles.css">
    <script src="/viewer/libs/i18next.min.js"></script>
    <script src="/viewer/libs/i18next-http-backend.min.js"></script>
    <style>
        
    </style>
</head>

<body>
    <script>
        function updateTranslations(t) {
            const elements = [
                { id: 'metalabel1', key: 'type' },
                { id: 'metalabel2', key: 'creator' },
                { id: 'metalabel3', key: 'date' },
                { id: 'metalabel4', key: 'points1' },
                { id: 'metalabel5', key: 'points2' },
                { id: 'metalabel6', key: 'license' },
                { id: 'metalabel7', key: 'download' },
                { id: 'metalabel8', key: 'description' },
            ];

            elements.forEach(function (element) {
                const domElement = document.getElementById(element.id);
                if (domElement) {
                    domElement.textContent = t(element.key) + (element.id !== 'metalabel7' && element.id !== 'metalabel8' ? ":" : "");
                }
            });
        }

        function setButtonLabel(language) {
            document.getElementById('languageButton').textContent = language === 'it' ? 'In English' : 'In Italiano';
        }

        function changeLanguage(lang) {
            i18next.changeLanguage(lang, function (err, t) {
                if (err) {
                    console.error("Error changing language:", err);
                    return;
                }
                window.parent.postMessage({ type: 'languageChange', lang: lang }, "*");
                localStorage.setItem('i18nextLang', lang);
                setButtonLabel(lang);
                updateTranslations(t);
            });
        }

        function toggleLanguage() {
            let currentLanguage = localStorage.getItem('i18nextLang') || 'en';
            currentLanguage = currentLanguage === 'en' ? 'it' : 'en';
            changeLanguage(currentLanguage);
            toggleVisibility(currentLanguage);
        }

        function toggleVisibility(lang) {
            const docEn = document.getElementById('documentation_en');
            const docIt = document.getElementById('documentation_it');

            if (docEn) {
                docEn.style.display = lang === 'en' ? 'block' : 'none';
            }

            if (docIt) {
                docIt.style.display = lang === 'it' ? 'block' : 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const savedLang = localStorage.getItem('i18nextLang') || 'en';

            i18next.use(i18nextHttpBackend).init({
                lng: savedLang,
                fallbackLng: 'en',
                backend: {
                    loadPath: '/viewer/locales/{{lng}}/translation.json',
                },
            }, function (err, t) {
                if (err) {
                    console.error("i18next initialization error:", err);
                    return;
                }
                setButtonLabel(savedLang);
                updateTranslations(t);
                toggleVisibility(savedLang);
            });
        });

    </script>

    <div class="metadata-container">

        <div class="language-toggle-buttons">
            <button id="languageButton" title="Change language" onclick="toggleLanguage()"></button>
        </div>

        <div class="metadata-title">
            PLACEHOLDER_TITLE
        </div>

        <div class="metadata-content">
            <div class="label">Dataset: </div> <span class="dataset">PLACEHOLDER_DATASET</span>
        </div>

        <div class="metadata-content">
            <div class="label" id="metalabel1">Type:</div> <span class="data">PLACEHOLDER_TYPE</span>
        </div>

        <div v-if="object.author?.firstname">
            <div class="metadata-content">
                <div class="label" id="metalabel2">Creator:</div> <span class="data">PLACEHOLDER_CREATOR</span>
            </div>
        </div>

        <div v-if="object.date">
            <div class="metadata-content">
                <div class="label" id="metalabel3">Date:</div> <span class="data">PLACEHOLDER_DATE</span>
            </div>
        </div>

        <div class="metadata-content">
            <div class="label" id="metalabel4">Points (optimized):</div> <span
                class="data">PLACEHOLDER_POINTS_OPTIMIZED</span>
        </div>

        <div class="metadata-content">
            <div class="label" id="metalabel5">Points (high quality):</div> <span
                class="data">PLACEHOLDER_POINTS_FULL</span>
        </div>

      
            <div class="metadata-content">
                <div class="label" id="metalabel6">License:</div> 
                <span class="data"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></span>
            </div>
  

        <div class="metadata-description" style="padding-top: 0px;">
            <div>
                <p>PLACEHOLDER_DESCRIPTION</p>
            </div>
        </div>

        <div class="metadata-description">
            <div class="label" id="metalabel8" style="padding-top: 0px;">Description</div>
            <div>
                <p>PLACEHOLDER_TOMB_DESCRIPTION</p>
            </div>
        </div>
    </div>

</body>
</html>