/*CSS here will be used by any file that has added the stylesheet*/

/* CSS - Cascading Style Sheet */



:root {

    --color-0: rgba(38, 38, 38, 1);
    --color-1: rgba(122, 129, 132, 1);
    --color-2: rgba(48, 48, 48, 1);
    --color-3: rgba(45, 109, 130, 1);
    --color-4: rgba(180, 100, 100, 1);
    --color-5: rgba(140, 60, 60, 1);

    --bg-color: var(--color-0);
    --bg-color-2: rgb(60, 80, 85);
    --bg-light-color: rgba(48, 61, 65, 1);
    --bg-dark-color: rgba(24, 31, 33, 1);
    --bg-hover-color: var(--color-2);

    --font-color: #ffffff;
    --font-color-2: #ddd;
    --border-color: black;

    --measurement-detail-node-bg-light: var(--color-1);
    --measurement-detail-node-bg-dark: var(--color-2);
    --measurement-detail-area-bg-color: #eee;

    --viewer-bg: rgba(48, 48, 48, 1);
    --sidebar-bg: rgba(38, 38, 38, 1);
    --selected: #47cbf6;


}

html,
body {
    font-family: "Oswald", sans-serif !important;
}

/* The title of the model */
.title {
    display: table-caption;
    position: absolute;
    z-index: 1000;
    width: 300px;
    /* word-spacing: 100vw; */
    margin: auto;
    top: 30px;
    right: 30px;
    color: white;
    text-align: right;
    padding: 0px;
    font-weight: 500;
    line-height: 0.90;
    font-size: 3.5vw;
    pointer-events: none;
}

.theme-color-text {
    color: var(--color-4) !important;
}

.theme-color-background {
    background-color: var(--color-4) !important;
}

.theme-button {
    background-color: var(--color-4);
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    width: 150px;
    color: var(--font-color);
    cursor: pointer;
}

.theme-button:hover {
    background-color: var(--color-5);
}



#full-screen-label{
    display:none;
    color:white;
    font-size:0.9em;
    font-weight:200;
    width:auto;
    right:calc(60px);
    margin-top:30px;
    border-radius:8px;
    padding:5px 15px;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
}




/* Common share and download buttons for all media categories */

.download-button {
    pointer-events: auto;
    background: url(interface/downloadbutton.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    Left: 30px;
    background-color: rgb(0, 0, 0, 0.8) !important;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
 
}

.download-button:hover {
    background-color: rgb(0, 0, 0, 1.0) !important;
    cursor: pointer;
    transform: scale(1.07);
}


.share-button {
    pointer-events: auto;
    background: url(interface/ios-share.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    Left: 30px;
    background-color: rgb(0, 0, 0, 0.8) !important;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.2s ease-in-out;
}

.share-button:hover {
    background-color: rgb(0, 0, 0, 1.0) !important;
    cursor: pointer;
    transform: scale(1.07);
}

.label-popup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    pointer-events: none; 
    opacity: 0; 
    transition: opacity 0.3s;
    white-space: nowrap;
}

#download-label {
    bottom: 9px; 
    left: 77px; 
}

#share-label{
    margin-left:45px;
    margin-top:7px;
    min-width:53px;
}

.popup-animation {
    animation: download-popup-animate 3s normal forwards ease-in-out;
}

@keyframes download-popup-animate {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    15% {
        opacity: 1;
        transform: scale(1.0);
    }
    80% {
        transform: scale(1.0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(0.0);
    }
}

.deactivated{
    opacity:0.5;
    pointer-events:none;
}

/* This is the label that states what type of viewer this is: mesh or point cloud */

.model-viewer-id {
    position: absolute;
    z-index: 1000;
    max-width: auto;
    bottom: 90px;
    right: 20px;
    color: white;
    text-align: right;
    padding: 15px 15px;
    font-weight: 400;
    line-height: 0.90;
    font-size: 2.0vw;
    pointer-events: none;
    text-transform: capitalize;
}

@media screen and (max-width: 1900px) {
    .title {
        font-size: 3.0em;
    }

    .model-viewer-id {
        font-size: 2em;
    }
}



h3 {
    cursor: pointer;
    padding: 4px 10px 4px 20px;
    font-size: 2em;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    display: block;
    text-align: left;
    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    margin-bottom: 10px;
}


.button-icon {
    width: 25px !important;
    height: 25px !important;
    opacity: 0.8;
    margin-top: 10px;
}

.button-icon-wide {
    width: 55px !important;
    height: 25px !important;
    opacity: 0.8;
    margin-top: 10px;
}

.button-icon:hover {
    opacity: 1.0;
}


.tool-item h2 {
    padding-top: 0px;
    padding-left: 20px;
}

.interface-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    pointer-events: none;
}

.interface-area-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80px;
    pointer-events: none;
}

.toolbar-bottom {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 48px;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 8px;
    z-index: 1000;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0.0rem 0.1rem 1rem rgba(0, 0, 0, 0.3) !important;
    border-style: solid;
    border-color: grey;
    border-width:0.5px 0px 0px 0px;
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(3px); 
}

/* A switcher for multiple media in same module */

#ToolbarHorizontal {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 8px;
    width: auto;
    margin-bottom: 12px;
}
  #Prev, #Next {
    position: relative; 
    width: 30px;
    height: 20px;
    background-size: 35px!important;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#Prev {
    background-image: url(../shared/interface/prev.png);
}

#Next {
    background-image: url(../shared/interface/next.png);
    margin-left: 10px;
}

#currentpage {
    font-family: "Oswald", sans-serif !important;
    color: white;
    font-size: 0.8em !important;
    font-weight: 100;
    pointer-events: none !important;
}

.SwitchButton {
	pointer-events:auto;
	  width: 35px;
	  height: 35px;
	  color: white;
	  opacity: 0.8;
	  margin-right:8px; 
	  margin-left:8px; 
	  margin-top:8px; 
	  margin-bottom:8px; 
	  cursor:pointer;
	  user-select: none;
	  -webkit-user-select: none;
	}
	.SwitchButton:hover {
	  opacity: 1;
	  cursor:pointer;
	}


/* A common guide button for all media categories */

.guide-button {
    pointer-events: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    right: 30px;
    background-color: rgb(0, 0, 0, 0.8) !important;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 1.9;
    font-size: 1.4em;
    font-weight: 100;
    font-family: "Oswald", sans-serif !important;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1000;
}

.guide-button:hover {
    background-color: rgb(0, 0, 0, 1.0) !important;
    cursor: pointer;
    transform: scale(1.07);
}


/* Guide styling */

#guide {
    font-family: "Oswald", sans-serif;
    letter-spacing:0.05em;
    color:#ffffff;
    position: absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    top:0px;
    pointer-events: none;
    width: 100%;
    height: calc(100%);
    background-color: rgb(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(6px);
    z-index: 2000;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    -ms-touch-action: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    opacity:0.0;
    transition: all 0.5s ease-in-out;
    cursor:default;
}

.guide-content {
    display:flex;
    justify-content:center;
    width: 100%;
}

#guide h1{
    font-family:"Oswald", sans-serif;
    font-size:1.5em;
    text-align:center;
    width:100%;
    font-weight:200;
    padding-top:5px;
    padding-bottom:20px;
}

#guide h2{
    font-family:"Oswald", sans-serif;
    font-size:1.5em;
    text-align:center;
    width:100%;
    font-weight:200;
    padding-top:0px;
}

.guide-instructions{
    width: 100%;
}

.guide-instructions-intro{
     width: 100%;
    text-align:center;
    margin-bottom:15px;
    font-size:0.95em;
    line-height: 1.5;
}

#guide-instructions-tools{
    width:450px;
    margin-left:calc(50% - 235px);
    background-color:rgba(0,0,0,0.5);
    border-radius:12px;
    padding:0px 20px 10px 10px;
    border-style: solid;
    border-color: grey;
    border-width:0.5px 0px 0px 0px;
    transform:scale(0.5);
    transition: all 0.5s ease-in-out;
}

.guide-instructions-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    margin-bottom:15px;
}

.guide-instructions-item-icon{
  min-width:32px;
  min-height:32px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y:50%;
  margin-left:5px;

}

.guide-instructions-item-label{
    margin-left:20px;
    font-weight:200;
    line-height: 1.3;
    font-size:0.95em;
    user-select: none;
    -webkit-user-select: none;
    cursor:default;
  }

  .guide-instructions-item-label p{
    display:inline;
    /* font-weight:700; */
  }

  .guide-closer {
    left:calc(50% - 50px);
    margin-top:20px;
    position:absolute;
    width: 45px;
    height: 20px;
    border-radius: 6px;
    color: white;
    background-image: url("close.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 5px 9px;
    padding:7px 8px 5px 35px;
    line-height: 1.2;
    font-size: 1.1em;
    cursor: pointer;
}

.guide-closer:hover {
    background-color: rgb(80, 80, 80);
}



/* a flex-box style to keep things centered */
.ui-overlay-container {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 60px;
    pointer-events: none;

}

/* This one describes the look of the UI-element with the navigation instructions */
#instructions {
    pointer-events: none;
    position: absolute;
    z-index: 100000;
    width: 340px;
    height: auto;
    bottom: 110px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-size: 0.95em;
    font-weight:300;
    line-height: 1.5;
    box-shadow: 0.0rem 0.1rem 1rem rgba(0, 0, 0, 0.3) !important;
    user-select: none;
	-webkit-user-select: none; /* Safari */
    -webkit-backdrop-filter: blur(3px); 
    backdrop-filter: blur(3px); 
    transition: all 0.5s ease-in-out;
}

.short {
    width: 290px !important;
}

.instruction-closer {
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 8px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: white;
    background-image: url("close.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 0;
    font-size: 40px;
    pointer-events: auto;
    cursor: pointer;
}

.instruction-closer:hover {
    background-color: rgb(80, 80, 80);
}

.LODtool {
    pointer-events: auto;
    position: absolute;
    z-index: 100000;
    width: 270px;
    height: auto;
    bottom: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 0px 20px 5px 20px;
    font-size: 0.8em;
    line-height: 2.0;
    box-shadow: 0.0rem 0.1rem 1rem rgba(0, 0, 0, 0.3) !important;
    border-style: solid;
    border-color: grey;
    border-width:0.5px 0px 0px 0px;
    
}

.LODtool span{
    user-select: none;
    -webkit-user-select: none;
    cursor:default;
}

/* The switch between the different "tabs" in the sidebar */
.switch {
    color: white;
    display: flex;
    cursor: pointer;
    font-size: 1.8em;
}

.switch-button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

.switch-button:hover {
    box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.05);
}


/* Metadata classes */

.flex-container {
    font-size: 1.2em;
}

.flex-container .metadata {
    color: hsl(195, 70%, 72%) !important;
}

a:link {
    color: white !important;
}

.flex-container .description {
    line-height: 1.2 !important;
    font-size: 0.9em !important;
}

/* Potree sidebar lists*/
.pv-menu-list {
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 0px;
    margin: 0px 0px;
    overflow: hidden;
}

.pv-menu-list>* {
    margin: 10px 20px;
}


/* 3d hop tool layout*/
.tool-item {
    width: 100%;
    float: left;
}

.tool-icon {
    float: left;

}

.tool-label {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.potree_menu_toggle {
    display: none;
}


/* Hide away complexities on mobile */

@media screen and (max-width: 400px) {

    .compact {
        display: none;
    }

    .full-page {
        display: none;
    }
}




/*styling for pop-up of annotations*/
.popup {
    display: none;
    position: fixed;
    color: white;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    width: 310px;
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px);
}

.popup-content {
    text-align: center;
}

.popup-content p {
    line-height: 1.0;
}

.popup-content button {
    margin: 0px 10px 15px 10px;
    padding: 8px 15px;
    font-size: 0.8em;
    color: white;
    background-color: rgb(60, 60, 60);
    border-width: 0.0px;
    border-radius: 6px;
    border-color: none;
}

.popup-content button:hover {
    background-color: rgb(80, 80, 80);

}