html,
body {
	margin: 0px;
	padding: 0px;
	font-family: "Oswald", sans-serif !important;
	min-height: calc(100vh);
	width: 100%;
}

#openseadragon.fullpage {
	height: calc(100vh - 80px) !important;
	width: calc(100%) !important;
	z-index: 10000 !important;
}

.openseadragon-container :focus {
	outline: none;
}

#navigatorDiv {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-right: 10px;

}

#CenterNav {
	margin: auto;
}


#FullPage {
	background: url(https://data.dh.gu.se/ui-icons/expand_white.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
}

#clear-annotations {
	pointer-events: auto;
	font-weight: 200;
	width: auto;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 8px;
	padding: 5px 12px;
	margin-top: -2px;
	color: rgb(220, 220, 220);
}

#clear-annotations:hover {
	background-color: rgba(0, 0, 0, 1.0);
	color: white;
	transform: scale(1.02);
}

#Download {
	background: url(https://data.dh.gu.se/ui-icons/download_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	pointer-events: auto;
}

#Home {
	background: url(https://data.dh.gu.se/ui-icons/frame_white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 28px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}

#ZoomIn {
	background: url(https://data.dh.gu.se/ui-icons/zoomout_big_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}

#ZoomOut {
	background: url(https://data.dh.gu.se/ui-icons/zoomin_big_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;

}

/* #RotateLeft {
	background: url(../../shared/interface/rotate_left.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 22px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	filter: brightness(0) invert(1);
    opacity: 0.8;

}

#RotateRight {
	background: url(../../shared/interface/rotate_right.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 22px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	filter: brightness(0) invert(1);
    opacity: 0.8;
} */



.NavButton {
	pointer-events: auto;
	width: 35px;
	height: 35px;
	color: white;
	opacity: 0.8;
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}



.NavButton:hover {
	opacity: 1;
	cursor: pointer;
}

