html,
body {
	margin: 0px;
	padding: 0px;
	font-family: "Oswald", sans-serif !important;
	min-height: calc(100vh);
	width: 100%;
}

#openseadragon.fullpage {
	height: calc(100vh - 80px) !important;
	width: calc(100%) !important;
	z-index: 10000 !important;
}

.openseadragon-container :focus {
	outline: none;
}

#navigatorDiv {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-right: 10px;

}

#CenterNav {
	margin: auto;
}


.full-page {
	background: url(https://data.dh.gu.se/ui-icons/expand_white.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	width: 34px;
	height: 34px;
	overflow: hidden;
	cursor: pointer;
}

#Download {
	background: url(https://data.dh.gu.se/ui-icons/download_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	pointer-events: auto;
}

#Home {
	background: url(https://data.dh.gu.se/ui-icons/frame_white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 28px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}

#ZoomIn {
	background: url(https://data.dh.gu.se/ui-icons/zoomin_big_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}

#ZoomOut {
	background: url(https://data.dh.gu.se/ui-icons/zoomout_big_white.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;

}

.NavButton {
	pointer-events: auto;
	width: 36px;
	height: 36px;
	color: white;
	opacity: 0.8;
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 8px;
	margin-bottom: 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}



.NavButton:hover {
	opacity: 1;
	cursor: pointer;
}
.openseadragon-canvas{
	display:flex!important;
	flex-direction: row!important;
	justify-content:center!important;
}

.referencestrip{
	position:absolute!important;
	bottom:100px!important;
	width:800px!important;
	max-width:800px!important;
	overflow:hidden;
	border-radius:8px;
	height:100px!important;
	margin: 0px 0px 50px!important;
	opacity:1.0!important;
	background-color:black!important;
	object-fit: contain!important;
	text-align:center!important;
}



.referencestrip .img:hover{
	opacity:0;
}

.referencestrip:Hover{
	
	bottom:100px!important;
}

@media screen and (max-width: 500px) {
#toolButtonsContainerVertical{
display:none!important;
}
.toolButtonVertical{
	display:none!important;
}
}


