#epidoc-rendering .leiden-num-span {
	font-family: "Oswald", sans-serif !important;
	font-size: 0.7em !important;
	transform: translateY(3px);
	width: 25px;
	color: black;
}

.leiden-transcription {
	font-family: "cyrillic-font";
	font-size: 1.2em;
}

gap {
	font-family: "Oswald", sans-serif !important;
	font-size: 0.8em!important;
	color: red;
	letter-spacing: 2px;
	padding-left: 1px;
	opacity: 0.3;
	cursor: pointer;
}

#epidoc-rendering:hover gap {
	opacity:1.0;
	
}